header {
	margin-bottom: 4em;
	text-align: center;
	h1 {
		color: $brown-dark;
		line-height: 1;
		font-size: 2.65em;
		position: relative;
		display: inline;
		@include breakpoint($pit-stop-1) {
		    font-size: 4em;
		}
		@include breakpoint($pit-stop-2) {
		    font-size: em(72);
		  }
		span {
			text-align: left;
			color: $brown-light;
			display: block;
			font-size: 0.625em;
			position: absolute;
			left: 0;
			top:  -0.7em;
		}
	}
}
