header[role="banner"] {
  margin-bottom: 4em;
  position: relative;
  h1 {
    font-size: 300%;
    line-height: 1;
    color: $brown-dark;
    text-align: center;
  }
  .prefix {
    display: block;
    text-align: left;
    color: $brown-light;
    font-size: 0.625em;
    @include breakpoint($pit-stop-4) {
      text-indent: 2%;
    }
    @include breakpoint($pit-stop-5) {
      text-indent: 7%;
    }
  }
  &.page  {
    h1 {
      width: 92%;
      margin-left: 8%;
      transition-property: font-size;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      text-align: left;
    }
    h2 {
      transform: rotate(600deg);
      width: 20%;
      position: absolute;
      left: -100%;
      bottom: 1.15em;
      color: $brown-light;
      transition-property: left transform;
      transition-duration: 1s;
      transition-delay: 0.5s;
      transition-timing-function: ease-in-out;
      @include breakpoint($pit-stop-1) {
        bottom: 1.5em;
      }
      @include breakpoint($pit-stop-2) {
        bottom: 2em;
      }
      @include breakpoint($pit-stop-4) {
        bottom: 2.15em;
      }
      &.animated {
        left: 0;
        transform: rotate(-90deg);
        @include breakpoint($pit-stop-1) {
          left: -3%;
        }
        @include breakpoint($pit-stop-4) {
          left: -4%;
        }
      }
    }
    .page-about &.page {
      .prefix {
        text-indent: 0;
      }
    }
    .page-work &.page {
      h1 {
        width: 100%;
        margin: 0;
        text-align: center;
      }
      h2 {
        transform: rotate(0deg);
        position: relative;
        bottom: 0;
        left: -500px;
        margin-left: -57px;
        margin-top: -0.25em;
        font-size: 2em;
        width: auto;
        display: inline-block;
        transition-property: left;
        transition-duration: 1s;
        transition-delay: 0.5s;
        transition-timing-function: ease-in-out;
        &.animated {
          left: 50%;
        }
      }
    }
  }
}
.blog-logo {
  display: block;
  margin: 0 auto;
  padding-left: 3.5em;
}
.slabtexted .slabtext
{
  display:inline-block;
  white-space:nowrap;
}
.slabtextinactive .slabtext
{
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext
{
  display:block;
}
