/////////////// Navigation

nav{
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  ul{
    margin: 0;
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5px;
      width: 33%;
      &:last-child{
        margin-right: 0;
      }
      a{
        position: relative;
        display: block;
        width: 95%;
        height: 35px;
        border-radius: 3px;
        color: $lightbrown;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1.25rem;
        font-family: $kreon;
        line-height: 35px;
        &:hover{
          text-shadow: none;
          text-decoration: none;
          color: $lightbrown;
        }
      }
      &:first-child a{
        border: 1px solid darken($red, 10%);
        background-color: darken($red, 10%);
        &:hover{
          background-color: $red;
        }
        &:active{
          background-color: darken($red, 5%);
        }
      }
      &:nth-child(2) a{
        border: 1px solid darken($green, 10%);
        background-color: darken($green, 10%);
        &:hover{
          background-color: $green;
        }
        &:active{
          background-color: darken($green, 5%);
        }
      }
      &:nth-child(3) a{
        border: 1px solid darken(#3c6ca9, 10%);
        background-color: darken(#3c6ca9, 5%);
        &:hover{
          background-color: #3c6ca9;
        }
        &:active{
          background-color: darken(#3c6ca9, 10%);
        }
      }
      &:nth-child(4) a{
        border: 1px solid darken($blue, 10%);
        background-color: darken($blue, 10%);
        &:hover{
          background-color: $blue;
        }
        &:active{
          background-color: darken($blue, 5%);
        }
      }
      &:nth-child(5) a{
        border: 1px solid darken($sepia, 10%);
        background-color: darken($sepia, 10%);
        &:hover{
          background-color: $sepia;
        }
        &:active{
          background-color: darken($sepia, 5%);
        }
      }
      &:nth-child(6) a{
        border: 1px solid darken($sepia, 20%);
        background-color: darken($sepia, 20%);
        &:hover{
          background-color: darken($sepia, 15%);
        }
        &:active{
          background-color: darken($sepia, 10%);
        }
      }
    }
  }
}

// nav{
//   position: absolute;
//   bottom: 0px;
//   right: -25px;
//   padding-top: 60px;
//   width: 375px;
//   height: 95px;
//   overflow: hidden;
//   ul{
//     position: relative;
//     list-style: none;
//     li{
//       a{
//         border-radius: 3px;
//         display: block;
//         width: 130px;
//         height: 40px;
//         line-height: 40px;
//         font-family: $kreon;
//         font-size: 20px;
//         letter-spacing: 2px;
//         font-weight: 400;
//         text-transform: uppercase;
//         text-align: center;
//         color: $lightbrown;
//         text-shadow: none;
//         position: absolute;
//         top: 20px;
//         @include transition(0.3s);
//         @include transform(rotate(-60deg));
//         &:hover{
//           text-decoration: none;
//           color: $lightbrown;
//           text-shadow: none;
//           box-shadow: -30px 10px 2px rgba(darken($sepia, 20%), 0.3);
//           @include transform(translateY(-30px) translateX(25px) rotate(-60deg));
//           z-index: 100;
//         }
//         &:active{
//           @include transform(translateY(-25px) translateX(20px) rotate(-60deg));
//         }
//       }
//       &:first-child a{
//         background-color: darken($red, 10%);
//         border: 1px solid darken($red, 10%);
//         left: 0;
//         &:hover{
//           background-color: $red;
//         }
//         &:active{
//           background-color: darken($red, 5%);
//         }
//       }
//       &:nth-child(2) a{
//         background-color: darken($green, 10%);
//         border: 1px solid darken($green, 10%);
//         left: 52px;
//         &:hover{
//           background-color: $green;
//         }
//         &:active{
//           background-color: darken($green, 5%);
//         }
//       }
//       &:nth-child(3) a{
//         background-color: darken($blue, 10%);
//         border: 1px solid darken($blue, 10%);
//         left: 104px;
//         &:hover{
//           background-color: $blue;
//         }
//         &:active{
//           background-color: darken($blue, 5%);
//         }
//       }
//       &:nth-child(4) a{
//         background-color: darken($sepia, 10%);
//         border: 1px solid darken($sepia, 10%);
//         left: 156px;
//         &:hover{
//           background-color: $sepia;
//         }
//         &:active{
//           background-color: darken($sepia, 5%);
//         }
//       }
//       &:nth-child(5) a{
//         background-color: darken($sepia, 20%);
//         border: 1px solid darken($sepia, 20%);
//         left: 208px;
//         &:hover{
//           background-color: darken($sepia, 15%);
//         }
//         &:active{
//           background-color: darken($sepia, 10%);
//         }
//       }
//     }
//   }
// }
