/* ==========================================================================
   NAVIGATION
   ========================================================================== */

nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  // Header nav
  // ---------------------------------
  header & {
    font-family: $track;
    text-align: right;
    margin-bottom: 4em;

    li {
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      padding: 0.25em 0.3em;
      font-size: em(14);
      -webkit-transition-property: border-color color;
      transition-property: border-color color;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      border-bottom: 1px solid $bg;
      &:hover, &:active,  &.current {
        color: $brown-dark;
        border-bottom: 1px solid $brown-dark;
      }
    }
  }

  // Footer nav
  // ---------------------------------
  footer & {
    li {
      margin-right: 0.75em;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $bg;
      &:hover, &:active {
        color: $brown-dark;
        text-decoration: none;
      }
      span {
        @extend %ir;
      }
    }
  }
}
