/* ==========================================================================
   NAVIGATION
   ========================================================================== */

nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  // Header nav
  // ---------------------------------
  header & {
    font-family: $track;
    text-align: right;
    margin-bottom: 4em;
    // border-bottom: 1px dashed darken($bg, 20%);

    li {
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      padding: 0.25em 0.3em;
      font-size: em(14);
      // border-top: 1px dashed rgba($bg, 0);
      // border-right: 1px dashed rgba($bg, 0);
      // border-left: 1px dashed rgba($bg, 0);
      // border-top-left-radius: 6px;
      // border-top-right-radius: 6px;
      &:hover, &:active,  &.current {
        // border-top: 1px dashed darken($bg, 20%);
        // border-right: 1px dashed darken($bg, 20%);
        // border-left: 1px dashed darken($bg, 20%);
        color: $brown-dark;
        border-bottom: 1px solid $brown-dark;
      }
    }
  }

  // Footer nav
  // ---------------------------------
  footer & {
    li {
      margin-right: 0.75em;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $bg;
      &:hover, &:active {
        color: $brown-dark;
        text-decoration: none;
      }
      span {
        @extend %ir;
      }
    }
  }
}
