.page-work {
  section[role="main"] {
    position: relative;
    > p {
      margin-bottom: 3em;
    }
  }
}
.train-line {
  overflow: hidden;
  margin-bottom: 4em;
  position: relative;
}
.projects {
  clear: both;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 5000px;
  height: 430px;
  background: transparent image-url('/site/templates/images/ground-line.png') center bottom repeat-x;
}

.project {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 369px;
    height: 430px;
    padding-top: 30px;
    margin-left: -30px;
    &:first-child {
      margin-left: 0;
    }
    div {
      text-align: center;
      width: 250px;
      height: 235px;
      margin: 0 auto;
      padding-top: 50px;
      cursor: pointer;
      transition: transform 0.5s;
      background-color: #E7E6E6;
      border: 1px solid #CDCCCC;
      border-radius: 3px;
      &:hover, &:active {
        transform: translateY(-20px);
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 369px;
      height: 148px;
      background: transparent image-url('/site/templates/images/wagon-fullwidth.png') center bottom no-repeat;
      bottom: 40px;
      left: 0;
    }
  }

.project-detail {
  background-color: #E7E6E6;
  border: 1px solid #CDCCCC;
  border-radius: 3px;
  position: fixed;
  top: 7%;
  left: 50%;
  margin-left: -180px;
  z-index: 302;
  width: 360px;
  padding: 2em 1.25em 0.5em;
  .csstransforms & {
    top: 15%;
  }
  @include breakpoint($pit-stop-1) {
    width: 496px;
    margin-left: -248px;
    .csstransforms & {
      padding-top: 3em;
    }
  }
  p, ul {
    font-size: em(14);
  }
  ul {
    padding-left: 1em;
  }
  section {
    margin-bottom: 1.5em;
  }
  .close {
    text-align: center;
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #898989;
    width: 25px;
    height: 25px;
    color: #E7E6E6;
    border-radius: 50%;
    font-size: em(22);
    line-height: 10px;
    padding-bottom: 6px;
    &:hover, &:active {
      background-color: rgba(#333, 0.8);
    }
  }
  h2 {
    color: $blue;
    @include breakpoint($pit-stop-1) {
      font-size: em(32);
    }
  }
  h3 {
    color: $blue-dark;
    font-size: em(16);
    @include breakpoint($pit-stop-1) {
      font-size: em(18);
    }
    > a {
      color: $blue-dark;
      .fontface & {
        &:after {
          content: "\e609";
          font-family: 'thetinke';
          margin-left: 0.75em;
          font-size: em(10);
          vertical-align: top;
        }
      }
    }
  }
}
.details {
  @include breakpoint($pit-stop-1) {
    .csstransforms & {
      min-height: 180px;
    }
  }
  & > div, h2, img {
    @include breakpoint($pit-stop-1) {
      display: inline-block;
      vertical-align: top;
    }
  }
  h2 {
      @include breakpoint($pit-stop-1) {
        .csstransforms & {
          width: 12%;
          transform: rotate(-90deg) translatex(-120px) translateY(-10px);
        }
      }
    }
  & > div:first-of-type {
    @include breakpoint($pit-stop-1) {
       .csstransforms & {
        width: 59%;
        margin-right: 3%;
      }
      width: 68%;
      margin-right: 5%;
    }
  }
  .project-logo {
    @include breakpoint($pit-stop-1) {
      width: 25%;
      display: inline-block;
      padding-top: 10%;
      img {
        width: 100%;
      }
    }
    display: none;
  }
}

.involvement {
  .csstransforms & {
    @include breakpoint($pit-stop-1) {
      h2 {
        text-align: right;
      }
      p:last-child {
        margin-bottom: 3em;
      }
    }
  }
}

.tech, .screenshots {
  .csstransforms & {
    @include breakpoint($pit-stop-1) {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.tech {
  .csstransforms & {
    @include breakpoint($pit-stop-1) {
      width: 40%;
      padding-right: 0.5em;
      h2 {
        margin-top: -0.3em;
      }
    }
  }
}

.screenshots {
  ul {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 15px 15px 0;
  }
  a {
    display: block;
    border: 5px solid #999;
    width: 60px;
    height: 60px;
  }
  @include breakpoint($pit-stop-1) {
    width: 59%;
    .csstransforms & {
      height: 300px;
      h2, ul {
        display: inline-block;
        vertical-align: top;
      }
      h2 {
        transform: rotate(-90deg) translatex(-230px) translateY(-10px);
        width: 12%;
      }
      ul {
        width: 83%;
        margin-left: 3%;
        margin-top: 0;
      }
    }
    li {
      margin: 0 10px 15px 0;
    }
  }
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($brown-dark, 0.8);
  position: fixed;
  z-index: 301;
  top: 0;
  left: 0;
}
