.page-work {
  section[role="main"] {
    > p {
      margin-bottom: 3em;
    }
  }
}
.train-line {
  overflow: hidden;
  margin-bottom: 4em;
  position: relative;
  .previous, .next {
    color: $blue-light;
    transition: color 0.4s;
    font-size: em(12);
    font-family: $trackItalic;
    border: 1px dotted rgba($blue-light, 0);
    &:hover, &:active {
      color: $blue-dark;
    }
    &:focus {
      outline: none;
      border: 1px dotted rgba($blue-light, 0.8);
    }
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.projects {
  clear: both;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 5000px;
  height: 430px;
  background: transparent image-url('/site/templates/images/ground-line.png') center bottom repeat-x;
}

.project {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 369px;
    height: 430px;
    padding-top: 30px;
    margin-left: -30px;
    &:first-child {
      margin-left: 0;
    }
    div {
      text-align: center;
      width: 250px;
      height: 235px;
      margin: 0 auto;
      padding-top: 50px;
      cursor: pointer;
      transition: -webkit-transform 0.5s;
      @include sheet;
      &:hover, &:active {
        -webkit-transform: translateY(-20px);
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 369px;
      height: 148px;
      background: transparent image-url('/site/templates/images/wagon-fullwidth.png') center bottom no-repeat;
      bottom: 40px;
      left: 0;
    }
  }

.project-details{
    display: none;
    // @include sheet;
    position: absolute;
    padding: 30px;
    //min-height:  400px;
    width: 300px;
    top: -400px;
    left:50%;
    margin-left: -150px;
    z-index: 500;
    // box-shadow: 2px 2px 10px rgba($darkbrown, 0.3);
    p{
      font-size: 18px;
      line-height: 1.5em;
      span{
        // color: $green;
        font-weight: 700;
        font-size: 24px;
      }
      span+span{
        // color: $sepia;
      }
    }
    .project-links{
      margin: 20px auto 0;
      width: 250px;
    }
    a{
      // color: $lightbrown;
      // font-family: $kreon;
      font-size: 18px;
      // background-color: $sepia;
      display: inline-block;
      padding: 5px 10px 5px 10px;
      text-align: center;
      width: 100px;
      &[href*="http"]{
        // background-color: $blue;
        &:hover{
          // background-color: darken($blue, 10%);
        }
      }
      &:before{
        margin-right: 5px;
        margin-top: 3px;
        font-size: 16px;
      }
      &:hover{
        text-decoration: none;
        // background-color: darken($sepia, 10%);
        text-shadow: none;
      }
    }
  }
