.page-work {
  section[role="main"] {
    position: relative;
    > p {
      margin-bottom: 3em;
    }
  }
}
.train-line {
  overflow: hidden;
  margin-bottom: 4em;
  position: relative;
  .previous, .next {
    color: $blue-light;
    transition: color 0.4s;
    font-size: em(12);
    font-family: $trackItalic;
    border: 1px dotted rgba($blue-light, 0);
    &:hover, &:active {
      color: $blue-dark;
    }
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.projects {
  clear: both;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 5000px;
  height: 430px;
  background: transparent image-url('/site/templates/images/ground-line.png') center bottom repeat-x;
}

.project {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 369px;
    height: 430px;
    padding-top: 30px;
    margin-left: -30px;
    &:first-child {
      margin-left: 0;
    }
    div {
      text-align: center;
      width: 250px;
      height: 235px;
      margin: 0 auto;
      padding-top: 50px;
      cursor: pointer;
      transition: -webkit-transform 0.5s;
      @include sheet;
      &:hover, &:active {
        -webkit-transform: translateY(-20px);
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 369px;
      height: 148px;
      background: transparent image-url('/site/templates/images/wagon-fullwidth.png') center bottom no-repeat;
      bottom: 40px;
      left: 0;
    }
  }

.project-detail{
  // @include sheet;
  background-color: #E7E6E6;
  border: 1px solid #CDCCCC;
  border-radius: 3px;
  // box-shadow: 0 0 70px 50px rgba($brown-dark, 0.5);
  position: absolute;
  top: -10em;
  left: 50%;
  margin-left: -180px;
  z-index: 10;
  width: 360px;
  padding: 2em 1.25em 0.5em;
  p, ul {
    font-size: em(14);
  }

  ul {
    padding-left: 1em;
  }

  section {
    margin-bottom: 1.5em;
  }
  .close {
    text-align: center;
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #898989;
    width: 25px;
    height: 25px;
    color: #E7E6E6;
    border-radius: 50%;
    font-size: em(22);
    line-height: 10px;
    padding-bottom: 6px;
    &:hover, &:active {
      background-color: rgba(#333, 0.8);
    }
  }
  h2 {
    color: $blue;
  }
  h3 {
    color: $blue-dark;
    font-size: em(16);
    > a {
      color: $blue-dark;
    }
  }
}
.details {
  & > div {

  }
  img {
    display: none;
  }
}

.screenshots {
  ul {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
  }
  li {
    display: inline-block;
    border: 5px solid #999;
    margin: 0 15px 15px 0;
  }
}
