/////////////////// Import fonts

//Track

@font-face {
    font-family: 'trackregular';
    src: url('../fonts/track-webfont.woff') format('woff'),
         url('../fonts/track-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trackitalic';
    src: url('../fonts/track_italic-webfont.woff') format('woff'),
         url('../fonts/track_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//thetinke (icons)

@font-face {
  font-family: 'thetinke';
  src: url('../fonts/thetinke.woff') format('woff'),
       url('../fonts/thetinke.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

///////////////// Set variables

$andada: 'Andada', georgia, serif;
$thetinke: 'thetinke';

$track: 'trackregular', georgia, serif;
$trackItalic: 'trackitalic', georgia, serif;
