html{
  background-color: $darkbrown;
}

body{
  margin-top: 50px;
  @include background(
    linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.0) 4%, rgba(255,255,255,0.0) 96%, rgba(255,255,255,0.4) 100%),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMTUwIDE1MCc+Cgk8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIGJhc2VGcmVxdWVuY3k9Jy43JyByZXN1bHQ9J2Z1enonIG51bU9jdGF2ZXM9JzInIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQk8ZmVDb21wb3NpdGUgaW49J1NvdXJjZUdyYXBoaWMnIGluMj0nZnV6eicgb3BlcmF0b3I9J2FyaXRobWV0aWMnIGsxPScwJyBrMj0nMScgazM9Jy0wLjUyJyBrND0nLjAxJyAvPgoJPC9maWx0ZXI+Cgk8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjYmViNGFhJy8+Cgk8cmVjdCB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScgZmlsbD0nI2Q5Y2ZjNScgZmlsdGVyPSd1cmwoI24pJyBvcGFjaXR5PScxJy8+Cjwvc3ZnPg==')
    );
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-backface-visibility: hidden;
  font-family: $kreon;
  font-size: 22px;
  line-height: 1.5em;
  color: $darkbrown;
  font-weight: 400;
}

/////////////// General Type Styles

h1{
  font-family: $haymaker;
  font-size: 44px;
  letter-spacing: -2px;
  text-align: center;
  color: $darkbrown;
  text-shadow: 1px -1px 0 white;
  padding: 15px 0 10px;
  font-weight: normal;
  margin: 50px 0 50px;
  background-color: rgba($brown, 0.2);
  border-radius: 3px;
}

h2{
  color: $red;
  font-family: $kreon;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3{
  font-family: $haymaker;
  letter-spacing: -1px;
}

a{
  color: $green;
  @include transition(0.3s);
  &:hover{
    color: darken($green, 20%);
    text-shadow: 0 0 3px $green;
    text-decoration: none;
  }
}

::selection {
  background: rgba(#f2b480, 0.3); /* Safari */
  }
::-moz-selection {
  background: rgba(#f2b480, 0.3); /* Firefox */
}

/////////////// Navigation

.home-link{
  position: absolute;
  display: block;
  color: rgba($darkbrown, 0.8);
  font-size: 30px;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  @include transition(0.3s);
  &:hover{
    font-size: 30px;
    text-decoration: none;
    color: rgba($darkbrown, 1);
    text-shadow: none;
  }
  span{
    display: block;
  }
}

.screen-reader-text{
  @include ir;
}

.row.visible-tablet.visible-desktop{
  position: relative;
  clear: both;
}

nav{
  position: absolute;
  bottom: 0px;
  right: -25px;
  padding-top: 60px;
  // padding-right: 30px;
  width: 375px;
  height: 95px;
  overflow: hidden;
  ul{
    position: relative;
    list-style: none;
    li{
      a{
        border-radius: 3px;
        display: block;
        width: 130px;
        height: 40px;
        line-height: 40px;
        font-family: $kreon;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: $lightbrown;
        text-shadow: none;
        position: absolute;
        top: 20px;
        @include transition(0.3s);
        @include transform(rotate(-60deg));
        &:hover{
          text-decoration: none;
          color: $lightbrown;
          text-shadow: none;
          box-shadow: -30px 10px 2px rgba(darken($sepia, 20%), 0.3);
          @include transform(translateY(-30px) translateX(25px) rotate(-60deg));
          z-index: 100;
        }
        &:active{
          @include transform(translateY(-25px) translateX(20px) rotate(-60deg));
        }
      }
      &:first-child a{
        background-color: darken($red, 10%);
        border: 1px solid darken($red, 10%);
        left: 0;
        &:hover{
          background-color: $red;
        }
        &:active{
          background-color: darken($red, 5%);
        }
      }
      &:nth-child(2) a{
        background-color: darken($green, 10%);
        border: 1px solid darken($green, 10%);
        left: 52px;
        &:hover{
          background-color: $green;
        }
        &:active{
          background-color: darken($green, 5%);
        }
      }
      &:nth-child(3) a{
        background-color: darken($blue, 10%);
        border: 1px solid darken($blue, 10%);
        left: 104px;
        &:hover{
          background-color: $blue;
        }
        &:active{
          background-color: darken($blue, 5%);
        }
      }
      &:nth-child(4) a{
        background-color: darken($sepia, 10%);
        border: 1px solid darken($sepia, 10%);
        left: 156px;
        &:hover{
          background-color: $sepia;
        }
        &:active{
          background-color: darken($sepia, 5%);
        }
      }
      &:nth-child(5) a{
        background-color: darken($sepia, 20%);
        border: 1px solid darken($sepia, 20%);
        left: 208px;
        &:hover{
          background-color: darken($sepia, 15%);
        }
        &:active{
          background-color: darken($sepia, 10%);
        }
      }
    }
  }
}

/////////////// Footer

.rights{
  position: absolute;
  font-size: 14px;
  color: rgba($lightbrown, 0.8);
  left: 0;
  text-align: center;
  width: 100%;
  bottom: -40px;
}